<div class="container">
  <h1>Hola mi primer proyecto</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <p>total: {{ tasks().length }}</p>
    @for (task of tasks(); track task; let i = $index) {
  <li>
      {{ i }} - {{ task }}
    </li>
}
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p> la suma es 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>
  <hr />
  <img [src]="person().avatar" style="width: 100px;">
  <input type="text" [value]="person().name">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person().name }}</p>
  <hr>
  <button (click)="clickHanlder()">Click me</button>
  <button (dblclick)="clickHanlder()">DblClick me</button>
  <p>(change)</p>
  <input type="number" (change)="changeHandler($event)">
  <hr>
  <p>(keydown)</p>
  <input type="text" (keydown)="keydownHandler($event)">
  <p>(keydown + tecla)</p>
  <input type="text" (keydown.shift.t)="clickHanlder()">
  <hr>
  <h1>Signals</h1>
  <input type="text" (change)="changeHandler($event)" [value]="name()">
  <p>{{ name() }}</p>
  <hr>
  <h2>ngIf</h2>
  @if (1 != 1) {
<div>
    Uno es diferente de 1
  </div>
}
  @if (name() === 'Giovanni') {
<div>
    name es igual a 'Giovanni'
  </div>
}
  <input type="number" [value]="person().age" (change)="changeAge($event)">
  @if (person().name === 'Giovanni' && person().age >= 18) {
<div>
    person.name es igual a 'Giovanni', y es mayor de edad
  </div>
} @else {

    Soy gio y soy menor de 18
  
}
  
  <hr>
  <h2>ngSwitch</h2>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div>
@switch (person().name) {
    @case ('giovanni') {
  <p> yo soy giovanni</p>
}
    @case ('Giovanni') {
  <p>yo soy Giovanni</p>
}
    @default {
  <p>no cumplio ningun case</p>
}
  }
</div>
  <hr>
  <h2>Input</h2>
  <input type="color" [formControl]="colorCtrl">
  <p>color: {{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <hr>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr>
  <p>
    <input type="text" [formControl]="nameCtrl"> <br>
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text">
  </p>
  <hr>
  <h2>New sintaxis angular</h2>
  <h3>ngIf new Sintaxis</h3>
  @if (name() === 'Giovanni') {
  <div>name es igual a Giovanni nueva sintaxis</div>
  }

  @if (person().name === 'Giovanni' && person().age >= 18) {
  <div>
    person.name es igual a 'Giovanni', y es mayor de edad new sintaxis
  </div>
  } @else{
  <div>
    soy menor de 18 new sintaxis
  </div>
  }
  <h3>new for</h3>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>{{ i }} - {{ task }}</li>
    } @empty {
    <li>La lista esta vacia</li>
    }
  </ul>

  <hr>
  <h2>NEW ngSwitch</h2>
  @switch (person().name) {
    @case ('Giovanni') {
      <p>soy gio</p>
    }
    @case ('gio') {
      <p>soy gio</p>
    }
    @default {
      <p>no es ninguno</p>
    }
  }
</div>