<div class="container">
  <h1>Hola mi primer proyecto</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <p>total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{ i }} - {{ task }}
    </li>
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p> la suma es 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>
  <hr />
  <img [src]="person().avatar" style="width: 100px;">
  <input type="text" [value]="person().name">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person.name }}</p>
  <hr>
  <button (click)="clickHanlder()">Click me</button>
  <button (dblclick)="clickHanlder()">DblClick me</button>
  <p>(change)</p>
  <input type="number" (change)="changeHandler($event)">
  <hr>
  <p>(keydown)</p>
  <input type="text" (keydown)="keydownHandler($event)">
  <p>(keydown + tecla)</p>
  <input type="text" (keydown.shift.t)="clickHanlder()">
  <hr>
  <h1>Signals</h1>
  <input type="text" (change)="changeHandler($event)" [value]="name()">
  <p>{{ name() }}</p>
  <hr>
  <h2>ngIf</h2>
  <div *ngIf="1 != 1">
    Uno es diferente de 1
  </div>
  <div *ngIf="name() === 'Giovanni'">
    name es igual a 'Giovanni'
  </div>
  <input type="number" [value]="person().age" (change)="changeAge($event)">
  <div *ngIf="person().name === 'Giovanni' && person().age >= 18; else elseBlock">
    person.name es igual a 'Giovanni', y es mayor de edad
  </div>
  <ng-template #elseBlock>
    Soy gio y soy menor de 18
  </ng-template>
  <hr>
  <h2>ngSwitch</h2>
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'giovanni'"> yo soy giovanni</p>
    <p *ngSwitchCase="'Giovanni'">yo soy Giovanni</p>
    <p *ngSwitchDefault>no cumplio ningun case</p>
  </div>
  <hr>
  <h2>Input</h2>
  <input type="color" [formControl]="colorCtrl">
  <p>color: {{ colorCtrl.value }}</p>
</div>